    .advert_slider {
        h2 {
            position: relative;
            font-family: $font2;
            font-size: 82px;
            color: #063470;
            line-height: 80px;
            z-index: 101;
            margin-top: 213px;
        }
        p {
            position: relative;
            font-family: $font1;
            font-size: 24px;
            color: #242424;
            line-height: 36px;
            z-index: 101;
        }
    }
    
    .slider {
        overflow: hidden;
    }
    
    .slide-info {
        padding: 0;
        .circle {
            display: block;
            width: 829px;
            height: 829px;
            left: -279px;
            top: 55px;
            position: absolute;
            .circle-1 {
                width: 829px;
                height: 829px;
                background: rgba(255, 255, 255, .6);
                border-radius: 100%;
                position: absolute;
                z-index: 100;
            }
            .circle-2 {
                width: 561px;
                height: 561px;
                background: rgba(255, 255, 255, .6);
                border-radius: 100%;
                position: absolute;
                z-index: 100;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .circle-3 {
                width: 383px;
                height: 383px;
                background: rgba(255, 255, 255, .6);
                border-radius: 100%;
                position: absolute;
                z-index: 100;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            // &:after {
            //     content: '';
            //     display: block;
            //     width: 350px;
            //     height: 350px;
            //     background: rgba(255, 255, 255, .6);
            //     border-radius: 100%;
            //     position: absolute;
            //     transform: translateX(50%);
            //     transform: translateY(50%);
            //     z-index: 100;
            // }
            // &:before {
            //     content: '';
            //     display: block;
            //     width: 150px;
            //     height: 150px;
            //     background: rgba(255, 255, 255, .6);
            //     border-radius: 100%;
            //     position: absolute;
            //     transform: translateX(50%);
            //     transform: translateY(50%);
            //     z-index: 150;
            //     top: 10%;
            //     left: 30%;
            // }
        }
    }