@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MyriadPro-Regular.eot');
    src: url('/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/MyriadPro-Regular.woff2') format('woff2'), url('/fonts/MyriadPro-Regular.woff') format('woff'), url('/fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Britannic';
    src: url('/fonts/BritannicBold.eot');
    src: url('/fonts/BritannicBold.eot?#iefix') format('embedded-opentype'), url('/fonts/BritannicBold.woff2') format('woff2'), url('/fonts/BritannicBold.woff') format('woff'), url('/fonts/BritannicBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}