@charset "UTF-8";
/*Defaults*/
@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.container {
  	/* @include container-fixed;
  
    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg;
    }*/ }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  /* position: relative;*/
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-right-0 {
  margin-right: 0%; }

.col-xs-offset-right-1 {
  margin-right: 8.3333333333%; }

.col-xs-offset-right-2 {
  margin-right: 16.6666666667%; }

.col-xs-offset-right-3 {
  margin-right: 25%; }

.col-xs-offset-right-4 {
  margin-right: 33.3333333333%; }

.col-xs-offset-right-5 {
  margin-right: 41.6666666667%; }

.col-xs-offset-right-6 {
  margin-right: 50%; }

.col-xs-offset-right-7 {
  margin-right: 58.3333333333%; }

.col-xs-offset-right-8 {
  margin-right: 66.6666666667%; }

.col-xs-offset-right-9 {
  margin-right: 75%; }

.col-xs-offset-right-10 {
  margin-right: 83.3333333333%; }

.col-xs-offset-right-11 {
  margin-right: 91.6666666667%; }

.col-xs-offset-right-12 {
  margin-right: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.3333333333%; }

  .col-sm-pull-2 {
    right: 16.6666666667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.3333333333%; }

  .col-sm-pull-5 {
    right: 41.6666666667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.3333333333%; }

  .col-sm-pull-8 {
    right: 66.6666666667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.3333333333%; }

  .col-sm-pull-11 {
    right: 91.6666666667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.3333333333%; }

  .col-sm-push-2 {
    left: 16.6666666667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.3333333333%; }

  .col-sm-push-5 {
    left: 41.6666666667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.3333333333%; }

  .col-sm-push-8 {
    left: 66.6666666667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.3333333333%; }

  .col-sm-push-11 {
    left: 91.6666666667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-right-0 {
    margin-right: 0%; }

  .col-sm-offset-right-1 {
    margin-right: 8.3333333333%; }

  .col-sm-offset-right-2 {
    margin-right: 16.6666666667%; }

  .col-sm-offset-right-3 {
    margin-right: 25%; }

  .col-sm-offset-right-4 {
    margin-right: 33.3333333333%; }

  .col-sm-offset-right-5 {
    margin-right: 41.6666666667%; }

  .col-sm-offset-right-6 {
    margin-right: 50%; }

  .col-sm-offset-right-7 {
    margin-right: 58.3333333333%; }

  .col-sm-offset-right-8 {
    margin-right: 66.6666666667%; }

  .col-sm-offset-right-9 {
    margin-right: 75%; }

  .col-sm-offset-right-10 {
    margin-right: 83.3333333333%; }

  .col-sm-offset-right-11 {
    margin-right: 91.6666666667%; }

  .col-sm-offset-right-12 {
    margin-right: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.3333333333%; }

  .col-md-pull-2 {
    right: 16.6666666667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.3333333333%; }

  .col-md-pull-5 {
    right: 41.6666666667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.3333333333%; }

  .col-md-pull-8 {
    right: 66.6666666667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.3333333333%; }

  .col-md-pull-11 {
    right: 91.6666666667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.3333333333%; }

  .col-md-push-2 {
    left: 16.6666666667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.3333333333%; }

  .col-md-push-5 {
    left: 41.6666666667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.3333333333%; }

  .col-md-push-8 {
    left: 66.6666666667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.3333333333%; }

  .col-md-push-11 {
    left: 91.6666666667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-right-0 {
    margin-right: 0%; }

  .col-md-offset-right-1 {
    margin-right: 8.3333333333%; }

  .col-md-offset-right-2 {
    margin-right: 16.6666666667%; }

  .col-md-offset-right-3 {
    margin-right: 25%; }

  .col-md-offset-right-4 {
    margin-right: 33.3333333333%; }

  .col-md-offset-right-5 {
    margin-right: 41.6666666667%; }

  .col-md-offset-right-6 {
    margin-right: 50%; }

  .col-md-offset-right-7 {
    margin-right: 58.3333333333%; }

  .col-md-offset-right-8 {
    margin-right: 66.6666666667%; }

  .col-md-offset-right-9 {
    margin-right: 75%; }

  .col-md-offset-right-10 {
    margin-right: 83.3333333333%; }

  .col-md-offset-right-11 {
    margin-right: 91.6666666667%; }

  .col-md-offset-right-12 {
    margin-right: 100%; } }
@media (min-width: 1400px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.3333333333%; }

  .col-lg-pull-2 {
    right: 16.6666666667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.3333333333%; }

  .col-lg-pull-5 {
    right: 41.6666666667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.3333333333%; }

  .col-lg-pull-8 {
    right: 66.6666666667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.3333333333%; }

  .col-lg-pull-11 {
    right: 91.6666666667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.3333333333%; }

  .col-lg-push-2 {
    left: 16.6666666667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.3333333333%; }

  .col-lg-push-5 {
    left: 41.6666666667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.3333333333%; }

  .col-lg-push-8 {
    left: 66.6666666667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.3333333333%; }

  .col-lg-push-11 {
    left: 91.6666666667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-right-0 {
    margin-right: 0%; }

  .col-lg-offset-right-1 {
    margin-right: 8.3333333333%; }

  .col-lg-offset-right-2 {
    margin-right: 16.6666666667%; }

  .col-lg-offset-right-3 {
    margin-right: 25%; }

  .col-lg-offset-right-4 {
    margin-right: 33.3333333333%; }

  .col-lg-offset-right-5 {
    margin-right: 41.6666666667%; }

  .col-lg-offset-right-6 {
    margin-right: 50%; }

  .col-lg-offset-right-7 {
    margin-right: 58.3333333333%; }

  .col-lg-offset-right-8 {
    margin-right: 66.6666666667%; }

  .col-lg-offset-right-9 {
    margin-right: 75%; }

  .col-lg-offset-right-10 {
    margin-right: 83.3333333333%; }

  .col-lg-offset-right-11 {
    margin-right: 91.6666666667%; }

  .col-lg-offset-right-12 {
    margin-right: 100%; } }
@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1399px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1399px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1399px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1399px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1400px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1400px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1400px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1400px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1399px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1400px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
h2,
.h2 {
  font-family: "Museo Sans Cyrl 700";
  font-size: 24px;
  text-align: center;
  margin: 0; }

h3,
.h3 {
  font-family: "Museo Sans Cyrl 700";
  font-size: 30px;
  text-align: center;
  margin: 0; }

h4,
.h4 {
  font-family: "Museo Sans Cyrl 300";
  font-size: 18px;
  text-align: center;
  margin: 0; }

.feed_text {
  display: block;
  width: 820px;
  height: 340px;
  background-color: #fff;
  position: absolute;
  padding-left: 180px;
  margin-left: 240px;
  font-family: "Museo Sans Cyrl 700";
  font-size: 20px;
  padding-top: 95px; }

.form_new {
  margin-bottom: 80px;
  align-items: center; }
  .form_new .input_name {
    width: 300px;
    height: 56px;
    border: 3px solid #d0d0d0;
    background-image: url("../img/face.png");
    background-repeat: no-repeat;
    background-position: right 20px center; }
  .form_new .input_phone {
    width: 300px;
    height: 56px;
    border: 3px solid #d0d0d0;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-position: right 20px center; }
  .form_new .input_submit {
    width: 300px;
    height: 56px;
    border: none;
    background-color: #5ba2a9;
    font-family: "Museo Sans Cyrl 700";
    font-size: 20px;
    color: #FFF; }
  .form_new input::placeholder {
    padding-left: 20px; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      display: block;
      height: 5px;
      width: 5px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*
Design
*/
#header {
  background-image: url("../img/bgc.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  #header .container {
    height: inherit;
    width: inherit;
    position: relative; }
  #header .logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 213px;
    height: 50px;
    margin: 30px auto 0; }
  #header .ph-number {
    margin-top: 30px;
    margin-bottom: 0; }
    #header .ph-number p {
      margin-bottom: 0; }
  #header .order_call {
    text-decoration: underline;
    color: #fff;
    padding-top: 0; }
  #header h1 {
    text-align: center;
    margin: 0 auto;
    font-family: "Museo Sans Cyrl 700";
    font-size: 55px; }
  #header span {
    text-align: center;
    display: block;
    font-size: 33px;
    font-family: "Museo Sans Cyrl 700"; }
  #header .best-papa {
    padding-top: 150px; }
  #header .order-btn {
    display: block;
    width: 340px;
    height: 60px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 20px;
    margin: 80px auto 0;
    color: #fff;
    text-decoration: none;
    font-family: "Museo Sans Cyrl 700"; }
    #header .order-btn .order {
      padding-top: 16px;
      font-family: "Museo Sans Cyrl 700";
      font-size: 20px; }
  #header .icon-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 148px;
    margin-bottom: 60px; }
    #header .icon-block p {
      margin-top: 27px;
      font-family: "Museo Sans Cyrl 300";
      text-align: center; }
    #header .icon-block .img {
      display: flex;
      align-items: flex-end;
      height: 54px; }
    #header .icon-block .item-1 .img {
      margin: 0 auto;
      width: 50px; }
    #header .icon-block .item-2 .img {
      margin: 0 auto;
      width: 56px; }
    #header .icon-block .item-3 .img {
      margin: 0 auto;
      width: 52px; }
    #header .icon-block .item-4 .img {
      margin: 0 auto;
      width: 54px; }
    #header .icon-block .item-5 .img {
      margin: 0 auto;
      width: 62px; }

#footer {
  background-color: #222222;
  overflow: hidden;
  color: #fff; }
  #footer .container {
    height: inherit;
    width: inherit; }
  #footer .logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 213px;
    height: 3.125rem;
    margin-top: 3.125rem;
    padding-bottom: 3.125rem; }
  #footer .ph-number {
    padding: 3.125rem 0; }
    #footer .ph-number p {
      padding: 0;
      margin-bottom: 0; }
  #footer .order_call {
    text-decoration: underline;
    color: #fff; }

#unforgetable {
  background-color: #ffffff;
  overflow: hidden;
  color: #1b1b1b; }
  #unforgetable .container {
    width: inherit;
    height: auto;
    justify-content: center; }
    #unforgetable .container .title {
      padding-top: 54px;
      justify-content: center; }
      #unforgetable .container .title:before {
        content: '';
        width: 60px;
        height: 18px;
        background-image: url("../img/heart_logo.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
  #unforgetable .wrapper {
    width: inherit;
    height: auto;
    margin: 0;
    padding: 0; }
    #unforgetable .wrapper .line-pic {
      display: flex; }
      #unforgetable .wrapper .line-pic .line {
        width: 320px;
        height: 320px;
        transition: all 0.2s;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
      #unforgetable .wrapper .line-pic_1 {
        background-image: url("../img/linepic.png"); }
        #unforgetable .wrapper .line-pic_1:hover {
          background-image: url("../img/linepic_h.png");
          transition: 0.4s; }
      #unforgetable .wrapper .line-pic_2 {
        background-image: url("../img/linepic-2.png"); }
        #unforgetable .wrapper .line-pic_2:hover {
          background-image: url("../img/linepic2_h.png");
          transition: 0.4s; }
      #unforgetable .wrapper .line-pic_3 {
        background-image: url("../img/linepic-3.png"); }
      #unforgetable .wrapper .line-pic_4 {
        background-image: url("../img/linepic-4.png"); }
      #unforgetable .wrapper .line-pic_5 {
        width: 320px;
        height: 320px;
        background-image: url("../img/linepic-5.png"); }
        #unforgetable .wrapper .line-pic_5:hover {
          background-image: url("../img/linepic5_h.png");
          transition: 0.4s; }
      #unforgetable .wrapper .line-pic_6 {
        background-image: url("../img/linepic-6.png"); }
        #unforgetable .wrapper .line-pic_6:hover {
          background-image: url("../img/linepic6_h.png");
          transition: 0.4s; }
  #unforgetable h2 {
    padding-top: 80px; }
  #unforgetable h4 {
    padding: 25px 0 60px 0; }

#motivation {
  background-color: #e5f5f8;
  overflow: hidden;
  color: #1b1b1b; }
  #motivation .title {
    padding-top: 45px;
    justify-content: center; }
    #motivation .title:before {
      content: '';
      width: 60px;
      height: 18px;
      background-image: url("../img/star.png");
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  #motivation .info {
    text-align: center;
    margin-bottom: 100px; }
    #motivation .info p {
      font-family: "Museo Sans Cyrl 300";
      font-size: 16px; }
  #motivation .first_line {
    padding-top: 74px; }
  #motivation .second_line {
    padding-top: 74px; }

#price {
  background-color: #FFF;
  overflow: hidden; }
  #price .title {
    padding-top: 40px;
    justify-content: center; }
    #price .title:before {
      content: '';
      width: 60px;
      height: 18px;
      background-image: url("../img/cash.png");
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  #price .order_info {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 80px; }
    #price .order_info .order-item {
      padding-top: 60px;
      align-items: center; }
      #price .order_info .order-item .wrapper {
        border: 2px solid #e8e8e8;
        display: block; }
        #price .order_info .order-item .wrapper:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          transition: 0.4s; }
    #price .order_info .h2 {
      font-family: "Museo Sans Cyrl 500";
      font-size: 48px;
      color: #5ba2a9; }
    #price .order_info p {
      font-family: "Museo Sans Cyrl 300";
      font-size: 16px;
      margin-left: auto;
      margin-right: auto; }
    #price .order_info span {
      font-family: "Museo Sans Cyrl 300";
      font-size: 18px;
      color: #5ba2a9; }
  #price .price-btn {
    display: flex;
    width: 200px;
    height: 55px;
    border: 2px solid #e8e8e8;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
    #price .price-btn .price-btn-text {
      font-family: "Museo Sans Cyrl 700";
      font-size: 16px;
      color: #5a5a5a; }
    #price .price-btn:hover {
      background-color: #5ba2a9;
      border: 0;
      text-decoration: none;
      transition: 0.4s; }
      #price .price-btn:hover .price-btn-text {
        color: #fff; }

#advantage {
  background-color: #e8f8f9;
  overflow: hidden; }
  #advantage .title {
    padding-top: 30px;
    justify-content: center; }
    #advantage .title:before {
      content: '';
      width: 60px;
      height: 18px;
      background-image: url("../img/portrait.png");
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  #advantage .info {
    padding-top: 65px;
    text-align: center; }
    #advantage .info p {
      font-family: "Museo Sans Cyrl 300";
      font-size: 16px; }

#remember {
  background-color: #ffffff;
  overflow: hidden;
  color: #1b1b1b; }
  #remember .h2 {
    padding-top: 75px; }
  #remember .h4 {
    padding-top: 20px; }
  #remember .form_new {
    padding-top: 40px; }

#no_need {
  background-color: #ffffff;
  overflow: hidden;
  color: #1b1b1b; }
  #no_need .h2 {
    padding-top: 85px; }
  #no_need .h4 {
    padding-top: 20px; }
  #no_need .form_new {
    padding-top: 55px; }

#feedback {
  background-image: url(../img/feedback_bg.png);
  overflow: hidden; }
  #feedback .title {
    padding-top: 30px;
    justify-content: center; }
    #feedback .title:before {
      content: '';
      width: 60px;
      height: 18px;
      background-image: url("../img/feedback_l.png");
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  #feedback .slick-slide {
    height: 340px; }
  #feedback .item {
    position: relative; }
  #feedback .single-item {
    align-self: center;
    height: 340px; }
  #feedback .h4 {
    text-align: start;
    padding-top: 40px;
    padding-right: 65px; }
  #feedback .slick-dots {
    bottom: 20px;
    left: 450px; }
    #feedback .slick-dots button {
      background: transparent;
      border-radius: 100%;
      border: 2px solid #5ba2a9; }
    #feedback .slick-dots .slick-active button {
      background: #5ba2a9;
      border-radius: 100%; }
  #feedback .pagingInfo {
    position: relative;
    right: 100px;
    top: 50px;
    font-family: "Museo Sans Cyrl 300";
    font-size: 16px;
    color: #dae8ea; }
  #feedback .photo {
    position: absolute;
    display: block;
    width: 240px;
    height: 240px;
    background-image: url(../img/feedback_face.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 50px;
    left: 120px; }

#owners {
  background-color: #e8f8f9;
  overflow: hidden; }
  #owners .title {
    padding-top: 30px;
    justify-content: center; }
    #owners .title:before {
      content: '';
      width: 60px;
      height: 18px;
      background-image: url("../img/landscape.png");
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }

#questions {
  background-color: #ffffff;
  overflow: hidden;
  color: #1b1b1b; }
  #questions .h2 {
    padding-top: 85px; }
  #questions .h4 {
    padding-top: 20px; }
  #questions .form_new {
    padding-top: 55px; }

/*# sourceMappingURL=css.css.map */
