*,
*:before,
*:after {
    box-sizing: border-box;
}

body {}

.news {
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all.5s;
    }
    &:hover:before {
        background: rgba(31, 48, 99, .66);
    }
}

h3,
.h3 {
    font-family: $font2;
    color: $white;
}

h4,
.h4,
.h4_inst {
    font-family: $font2;
    font-size: 22px;
    color: $white;
}