#feedback {
    background-image: url(../img/feedback_bg.png);
    overflow: hidden;
    .title {
        padding-top: 30px;
        justify-content: center;
        &:before {
            content: '';
            width: 60px;
            height: 18px;
            background-image: url("../img/feedback_l.png");
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .slick-slide {
        height: 340px;
    }
    .item {
        position: relative;
    }
    .single-item {
        align-self: center;
        height: 340px;
    }
    .h4 {
        text-align: start;
        padding-top: 40px;
        padding-right: 65px;
    }
    .slick-dots {
        bottom: 20px; // play with the number of pixels to position it as you want
        left: 450px; // play with the number of pixels to position it as you want
        button {
            background: transparent;
            border-radius: 100%;
            border: 2px solid #5ba2a9;
        }
        .slick-active {
            button {
                background: #5ba2a9;
                border-radius: 100%;
            }
        }
    }
    .pagingInfo {
        position: relative;
        right: 100px;
        top: 50px;
        font-family: $font1;
        font-size: 16px;
        color: #dae8ea;
    }
    .photo {
        position: absolute;
        display: block;
        width: 240px;
        height: 240px;
        background-image: url(../img/feedback_face.png);
        background-size: contain;
        background-repeat: no-repeat;
        top: 50px;
        left: 120px;
    }
}