#header {
    background-image: url("../img/bgc.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    .container {
        height: inherit;
        width: inherit;
        position: relative;
    }
    .logo {
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
        width: 213px;
        height: 50px;
        margin: 30px auto 0;
    }
    .ph-number {
        margin-top: 30px;
        margin-bottom: 0;
        p {
            margin-bottom: 0;
        }
    }
    .order_call {
        text-decoration: underline;
        color: #fff;
        padding-top: 0;
    }
    h1 {
        text-align: center;
        margin: 0 auto;
        font-family: $font2;
        font-size: 55px;
        @include mq(xs) {
            font-size: 10px;
        }
    }
    span {
        text-align: center;
        display: block;
        font-size: 33px;
        font-family: $font2;
    }
    .best-papa {
        padding-top: 150px;
    }
    .order-btn {
        display: block;
        width: 340px;
        height: 60px;
        border: 2px solid #fff;
        text-align: center;
        font-size: 20px;
        margin: 80px auto 0;
        color: #fff;
        text-decoration: none;
        font-family: $font2;
        .order {
            padding-top: 16px;
            font-family: $font2;
            font-size: 20px;
        }
    }
    .icon-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 148px;
        margin-bottom: 60px;
        p {
            margin-top: 27px;
            font-family: $font1;
            text-align: center;
        }
        .img {
            display: flex;
            align-items: flex-end;
            height: 54px;
        }
        .item-1 {
            .img {
                margin: 0 auto;
                width: 50px;
            }
        }
        .item-2 {
            .img {
                margin: 0 auto;
                width: 56px;
            }
        }
        .item-3 {
            .img {
                margin: 0 auto;
                width: 52px;
            }
        }
        .item-4 {
            .img {
                margin: 0 auto;
                width: 54px;
            }
        }
        .item-5 {
            .img {
                margin: 0 auto;
                width: 62px;
            }
        }
    }
}