    #owners {
        background-color: #e8f8f9;
        overflow: hidden;
        .title {
            padding-top: 30px;
            justify-content: center;
            &:before {
                content: '';
                width: 60px;
                height: 18px;
                background-image: url("../img/landscape.png");
                background-size: contain;
                background-repeat: no-repeat;
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }