.content {
    margin-top: 65px;
    padding-left: 50px;
    .container {
        .content-name {
            text-align: center;
            font-family: $font3;
            font-size: 35px;
            margin-bottom: 25px;
        }
        .cards {
            justify-content: center;
            .card-svg-border {
                margin-bottom: 38px;
                max-width: 364px;
                height: 366px;
                padding: 0;
                .card {
                    position: relative;
                    margin: 15px;
                    height: 330px;
                    color: #ffffff;
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        transition: background .5s;
                        z-index: -1;
                    }
                    &:hover {
                        .card-name {
                            display: none;
                        }
                        .card-info {
                            display: block;
                            text-align: left;
                            padding-left: 5%;
                            padding-top: 16%;
                            font-family: $font1;
                            font-size: 24px;
                            color: #1a2227;
                            z-index: 3;
                            a {
                                z-index: 3;
                                display: block;
                                position: absolute;
                                bottom: 3%;
                                left: 46%;
                                text-decoration: none;
                                color: #1a2227;
                            }
                        }
                        .buy-btn {
                            display: none;
                        }
                        .price {
                            display: none;
                        }
                        &:before {
                            background: rgba(225, 225, 225, 0.67);
                        }
                    }
                    .card-name {
                        position: relative;
                        background-color: rgba(209, 209, 209, 0.59);
                        font-family: $font5;
                        font-size: 25px;
                        text-transform: uppercase;
                        width: 75%;
                        top: 15%;
                        // padding-left: 5%;
                        text-align: center;
                    }
                    .card-info {
                        display: none;
                    }
                    .buy-btn {
                        background-color: rgba(209, 209, 209, 0.49);
                        position: absolute;
                        display: flex;
                        align-items: center;
                        top: 70%;
                        right: 0;
                        font-family: $font5;
                        font-size: 18px;
                        text-transform: uppercase;
                        width: 55%;
                        height: 42px;
                        padding-left: 5%;
                        a {
                            position: absolute;
                            right: 0;
                            height: 100%;
                            width: 26%;
                            background: url(/img/card-button.png);
                            &:hover {
                                background: url(/img/card-button-hover.png)
                            }
                        }
                    }
                    .price {
                        position: absolute;
                        font-family: $font5;
                        font-size: 30px;
                        text-transform: uppercase;
                        bottom: 0;
                        left: 3%;
                    }
                    &-azshara {
                        background-image: url(/img/card-bg-azshara.png);
                        background-size: cover;
                        z-index: 0;
                    }
                    &-lol {
                        background: url(/img/card-bg-lol.png);
                        background-size: cover;
                        z-index: 0;
                    }
                    &-knockwurst {
                        background: url(/img/card-bg-knockwurst.png);
                        background-size: cover;
                        z-index: 0;
                    }
                    &-arena {
                        background: url(/img/card-bg-arena.png);
                        background-size: cover;
                        z-index: 0;
                    }
                    &-witch {
                        background: url(/img/card-bg-witch.png);
                        background-size: cover;
                        z-index: 0;
                    }
                    &-noname {
                        background: url(/img/card-bg-noname.png);
                        background-size: cover;
                        z-index: 0;
                    }
                    &-dota {
                        background: url(/img/card-bg-dota.png);
                        background-size: cover;
                        z-index: 0;
                    }
                    &-patch {
                        background: url(/img/card-bg-patch.png);
                        background-size: cover;
                        z-index: 0;
                    }
                    &-dota-last {
                        background: url(/img/card-bg-dota-last.png);
                        background-size: cover;
                        z-index: 0;
                    }
                }
            }
        }
    }
}