.about {
    margin: 40px auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: "Tahoma", sans-serif;
    padding-bottom: 80px;
    border-bottom: 1px solid #c4c4c4;
    .textBox {
        padding: 20px;
        background-image: url(../img/bg-grey.png);
        color: #fff;
        margin-top: -88px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        font-family: "Tahoma", sans-serif;
        h1 {
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            font-family: "Tahoma", sans-serif;
            text-transform: uppercase;
            margin: 0 0 5px;
        }
        p {
            margin: 0 0 15px;
        }
    }
    ul {
        list-style: none;
    }
    h2 {
        margin-top: 0;
        font-weight: 700;
        font-size: 30px;
        line-height: 32px;
        font-family: "Tahoma", sans-serif;
        color: #6a6b6e;
        margin: 0 0 20px;
        padding-left: 40px;
    }
    h3 {
        padding: 0 68px;
        margin: 0 0 10px;
        color: #f79420;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        font-family: "Tahoma", sans-serif;
        position: relative;
        img {
            position: absolute;
            left: 0;
            top: -3px;
        }
    }
}