#contacts {
    padding-top: 50px;
    .adress {
        margin: 0 0 15px;
        font-weight: 700;
        color: #969696;
    }
    .phone {
        color: #333;
        font-weight: 700;
        font-size: 19px;
        line-height: 22px;
        font-family: "Tahoma", sans-serif;
        text-decoration: none;
    }
    .copyright-text {
        margin: 20px 0 0;
        color: #9e9e9e;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        font-family: "Tahoma", sans-serif;
    }
    .btn-primary {
        background-color: #fff;
        color: #f79420;
        border: 2px solid #f79420;
        font-weight: 700;
        font-size: 20px;
        line-height: 60px;
        font-family: "Tahoma", sans-serif;
        height: 60px;
        width: 100%;
        position: relative;
        transition: box-shadow 1s ease, color 1s ease;
        &:hover {
            box-shadow: inset 20em 0 #f79420;
            color: whitesmoke;
            span {
                &:before {
                    opacity: 0;
                }
            }
        }
        span {
            &:before {
                display: block;
                position: absolute;
                content: "";
                width: 20px;
                height: 16px;
                background: url(../img/arrow-s-o.png) no-repeat 0 0;
                background-size: 20px auto;
                opacity: 1;
                margin: 0 0 0px 20px;
                right: 21%;
                top: 50%;
                transition: all 1s cubic-bezier(0.83, 0.02, 0, 1);
            }
            &:after {
                content: "";
                width: 20px;
                height: 16px;
                background: url(../img/arrow-s-w.png) no-repeat 0 0;
                display: inline-block;
                vertical-align: middle;
                margin: 0 0 0px 20px;
                background-size: 20px auto;
                transition: all 1s cubic-bezier(0.83, 0.02, 0, 1);
            }
        }
    }
    input {
        width: 100%;
    }
    .btn-danger {
        background-color: red !important;
        color: #000 !important;
        border: none !important;
    }
}