.products {
    padding: 25px 15px 120px;
    border-bottom: 1px solid #c4c4c4;
    h2 {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        font-family: "Tahoma", sans-serif;
        text-transform: uppercase;
        color: #f79420;
        margin: 0 0 30px;
    }
    h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        font-family: "Tahoma", sans-serif;
        color: #555555;
        text-transform: uppercase;
        margin: 50px 0 15px;
    }
    .ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        margin: 0 0 15px;
    }
    .color {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        font-family: "Tahoma", sans-serif;
        color: #ca6600;
        text-transform: none;
        strong {
            color: #f79420;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        width: auto\9;
    }
}